<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Adicionar Aluno</title>
</head>
<body>
    <h1>Adicionar Aluno</h1>
    <form action="/add" method="POST">
        <table border="0">
            <tr>
                <td>Nome</td>
                <td><input type="text" name="nome_aluno" placeholder="Nome" size="40"></td>
            </tr>
            <tr>
                <td>Email Aluno</td>
                <td><input type="text" placeholder="Comentário" name="email_aluno" size="40"></td>
            </tr>
            <tr>
                <td>Número</td>
                <td><input type="text" placeholder="Comentário" name="numero" size="40"></td>
            </tr>
            <tr>
                <td>CEP</td>
                <td><input type="text" placeholder="Comentário" name="cep" size="40"></td>
            </tr> 
            <tr>
                <td>Complemento</td>
                <td><input type="text" placeholder="Comentário" name="complemento" size="40"></td>
            </tr>
            <tr>
                <th colspan="2"><button type="submit">Salvar</button></th> 
            </tr>
        </table>     
    </form>
</body>
</html>